@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/typography/vertical_rhythm";

$base-font-size: 18px;
$base-line-height: 30px;
$crimson: #ab6269;

@include establish-baseline;

article, header {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
}

a {
  color: $crimson;
  text-decoration: none;
  border-bottom: 1px dotted rgba($crimson, 0.7);
  @include transition(border-color .5s, color .5s);

  &:hover, &:active, &:focus {
    outline: 0;
    color: #000;
    border-color: #000;
    @include transition(border-color .5s, color .5s);
  }
}

// Sensible reset
body, div, p, header, article, h1, pre, ul, ol {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

ul, ol {
  list-style-position: inside;
  padding-left: $base-line-height;
  @include trailer(1);
}

ul {
  list-style-type: circle;
}

p > code, pre {
  background-color: #eee;
  color: #333;
  @include border-radius(2px);
}

// Block
pre {
  @include adjust-font-size-to(12px);
  @include trailer(1.5);
  border-left: 10px solid #ccc;
  padding-left: 10px;
}

// Inline
p > code {
  display: inline-block;
  margin: 0 3px;
  padding: 0 6px;
}

%crimson-text {
  font-family: "Crimson Text", serif;
}
body {
  width: 580px;
  margin: 0 auto;
}

h1 {
  @extend %crimson-text;
  @include adjust-font-size-to(30px);
}

#words {
  @extend %crimson-text;
  p {
    @include trailer(1);
  }
  p:first-child {
    @include adjust-font-size-to(20px);
    @include trailing-border(3px, 0.5, $border-style: double);
    @include trailer(0.4);
    font-style: italic;
  }
}
