---
layout: base
title: karlis.me
description: Žurnāls par sarkasmu, ceļojumiem, kafiju un kodu. Latviski.
---

{% assign prev = "" %}
{% for post in site.posts %}
  {% assign curr = post.published | date: "%Y.%m" %}
  {% if curr != prev %}
    {% if post != site.posts.first %}</section>{% endif %}
    <section class="month">
      <aside>{{ curr }}</aside>
  {% endif %}

  <article>
    <a class="link-to-article{% if post.draft? %} draft{% endif %}" href="{{ post.url}}">
      {{ post.title }}
    </a>
  </article>

  {% if post == site.posts.last %}</section>{% endif %}
  {% assign prev = curr %}
{% endfor %}
